[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pre-commit = "*"

[packages]
pandas = "*"
sklearn = "*"
python-telegram-bot = "*"
jikanpy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
